{% extends 'registration/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- HEADER-TITLE
================================================== -->

<!-- Contact-Details
================================================== -->
<section class="contact_page padding_100 text-left">
  <div class="container">
    <div class="col-md-8 col-sm-8">
      <form method="post">
          {% csrf_token %}
          <!--{{ form }}-->
          {{ form.non_field_errors }}
          <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="form-group form-custom">
                  <label class="h5 text-bold-7">Гарчиг</label>
                  <input id="subject" type="text" class="form-control" name="subject" placeholder="Гарчигаа оруулна уу" title="Please enter your subject (at least 2 characters)">{{ form.subject.errors }}
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="form-group form-custom">
                  <label class="h5 text-bold-7">Мэйл хаяг</label>
                  <input id="from_email" type="email" class="form-control" name="from_email" placeholder="Мэйл хаягаа оруулна уу" title="Please enter a valid email address">{{ form.from_email.errors }}
                </div>
              </div>
          </div> 
          <!-- End of row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group form-custom">
                <label class="h5 text-bold-7">Захидал</label>
                <textarea id="message" name="message" class="form-control" cols="3" rows="5" placeholder="Захидалаа энд бичнэ үү ..." title="Please enter your message (at least 10 characters)"></textarea>{{ form.message.errors }}
              </div>
            </div>
          </div> 
          <!-- End of row -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <button type="submit" class="btn btn-info">Илгээх</button>
              </div>
            </div>
          </div> <!-- End of row -->
      </form> <!-- End of Form -->
    </div> <!-- End of Col-8 -->
    <!-- Address -->
    <div class="col-md-3 col-sm-3 col-md-offset-1 col-sm-offset-1">
      <h4 class="h4 text-ca text-bold-7 padding-t-b-10">Оффис: </h4>
      <address>
        <p><i class="fa fa-map-marker text-16 txt-custom"></i> &nbsp;123,Street name,San Francisco,CA</p>
        <p><i class="fa fa-phone text-16 txt-custom"></i> &nbsp;+976 70007000</p>
        <p><i class="fa fa-envelope-o text-16 txt-custom"></i> &nbsp; info@domain.com</p>
        <p><i class="fa fa-globe text-16 txt-custom"></i> &nbsp; <a href="#">www.domain.com</a></p>
      </address>
    </div> <!-- End of Col-3 -->
  </div> <!-- End Of container -->
</section>
<!-- End of Contact -->
{% endblock %}