{% extends 'registration/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- TEAM
================================================== -->
<section class="section">
  <div class="container">
    <div class="row wow swing">
      <h2 class="h2 text-bold-7 padding-b-20">Our <span class="txt-custom">Team</span></h2>
    </div>

    <!-- Team-member-1 -->
    <div class="col-md-3 col-sm-6">
      <div class="team-member wow zoomIn">
        <div class="member">
          <img class="circle-img" src="{% static 'img/team/team1.jpg' %}" alt="team" width="140" height="140" /> 
        </div>
        <h4>John Deo</h4>
        <p>Founder</p>
        <ul class="social">
          <li><a href="#"><i class="fa fa-github"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        </ul>
        <p></p>
        <a href="profile.html"><i class="fa fa-arrow-circle-right fa-fw"></i>&nbsp;Read more</a>
        <p></p>
      </div>
    </div>

    <!-- Team-member-2 -->
    <div class="col-md-3 col-sm-6">
      <div class="team-member wow zoomIn">
        <div class="member">
          <img class="circle-img" src="{% static 'img/team/team2.jpg' %}" alt="team" width="140" height="140" /> 
        </div>
        <h4>John Deo</h4>
        <p>Web Designer</p>
        <ul class="social">
          <li><a href="#"><i class="fa fa-github"></i></a></li>
          <li><a href="#"><i class="fa fa-rss"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        </ul>
        <p></p>
        <a href="profile.html"><i class="fa fa-arrow-circle-right fa-fw"></i>&nbsp;Read more</a>
        <p></p>
      </div>
    </div>

    <!-- Team-member-3 -->
    <div class="col-md-3 col-sm-6">
      <div class="team-member wow zoomIn">
        <div class="member">
          <img class="circle-img" src="{% static 'img/team/team3.jpg' %}" alt="team" width="140" height="140" /> 
        </div>
        <h4>John Deo</h4>
        <p>Web Developer</p>
        <ul class="social">
          <li><a href="#"><i class="fa fa-github"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        </ul>
        <p></p>
        <a href="profile.html"><i class="fa fa-arrow-circle-right fa-fw"></i>&nbsp;Read more</a>
        <p></p>
      </div>
    </div>

    <!-- Team-member-4 -->
    <div class="col-md-3 col-sm-6">
      <div class="team-member wow zoomIn">
        <div class="member">
          <img class="circle-img" src="{% static 'img/team/team4.jpg' %}" alt="team" width="140" height="140" /> 
        </div>
        <h4>John Deo</h4>
        <p>UI/UX Designer</p>
        <ul class="social">
          <li><a href="#"><i class="fa fa-github"></i></a></li>
          <li><a href="#"><i class="fa fa-rss"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        </ul>
        <p></p>
        <a href="profile.html"><i class="fa fa-arrow-circle-right fa-fw"></i>&nbsp;Read more</a>
        <p></p>
      </div>
    </div>
  </div>
</section>

<!-- End Team-->