{% extends 'registration/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Services
  ================================================== -->
  <section class="section" id="services">
    <div class="container">
      <div class="row wow swing">
        <h2 class="h2 text-bold-7 padding-b-20">Бидний <span class="txt-custom">үйлчилгээ</span></h2>
      </div>
      <div class="row">

        <div class="col-md-4 col-sm-6">
          <!-- Service-1-->
          <article class="service1-item wow bounceIn">
            <i class="fa fa-desktop fa-3x"></i>
            <h4>Хүргэлт</h4>
            <p>Улаанбаатар хот дотор болон орон нутаг дахь хүргэлтийн үйлчилгээг түргэн шуурхай, найдвартай гүйцэтгэх</p>
          </article>
        </div>

        <!-- Service-2-->
        <div class="col-md-4 col-sm-6">
          <article class="service1-item wow bounceIn">
            <i class="fa fa-flask fa-3x"></i>
            <h4>Хүргэлт тандах</h4>
            <p>Хүргэлтийн үйлчилгээ авч буй үйлчлүүлэгчид хүргэлттэй холбоотой мэдээллийг өгөгдсөн дугаараар шалгах</p>           
          </article>
        </div>

        <!-- Service-3-->
        <div class="col-md-4 col-sm-6">
          <article class="service1-item wow bounceIn">
            <i class="fa fa-cloud fa-3x"></i>
            <h4>Мэдээ мэдээлэл</h4>
            <p>Хүргэлтийн үйлчилгээтэй холбоотой мэдээ мэдээллийг цаг алдалгүй үйлчлүүлэгчдийн сонорт хүргэх</p>
          </article>
        </div>
     </div>
   </div>
  </section>
  <!-- End Services-->
{% endblock %}