{% extends 'registration/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Services
  ================================================== -->
  <section class="section" id="services">
    <div class="container">
      <div class="row wow swing">
        <h2 class="h2 text-bold-7 padding-b-20">Our <span class="txt-custom">Services</span></h2>
      </div>
      <div class="row">

        <div class="col-md-4 col-sm-6">
          <!-- Service-1-->
          <article class="service1-item wow bounceIn">
            <i class="fa fa-desktop fa-3x"></i>
            <h4>UI/UX Design</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quam nisi, malesuada a leo nec, luctus viverra quam nisi, malesuada a nisi.</p>
          </article>
        </div>

        <!-- Service-2-->
        <div class="col-md-4 col-sm-6">
          <article class="service1-item wow bounceIn">
            <i class="fa fa-flask fa-3x"></i>
            <h4>Smart Coding</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quam nisi, malesuada a leo nec, luctus viverra quam nisi, malesuada a nisi.</p>           
          </article>
        </div>

        <!-- Service-3-->
        <div class="col-md-4 col-sm-6">
          <article class="service1-item wow bounceIn">
            <i class="fa fa-cloud fa-3x"></i>
            <h4>Cloud Hosting</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quam nisi, malesuada a leo nec, luctus viverra quam nisi, malesuada a nisi.</p>
          </article>
        </div>

        <!-- Service-4-->
        <div class="col-md-4 col-sm-6">
          <div class="service1-item wow bounceIn">
            <i class="fa fa-bullhorn fa-3x"></i>
            <h4>Marketing</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quam nisi, malesuada a leo nec, luctus viverra quam nisi, malesuada a nisi.</p>
          </div>
        </div>

        <!-- Service-5-->
        <div class="col-md-4 col-sm-6">
          <div class="service1-item wow bounceIn">
            <i class="fa fa-building-o fa-3x"></i>
            <h4>Consultancy</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quam nisi, malesuada a leo nec, luctus viverra quam nisi, malesuada a nisi.</p>
          </div>
        </div>

        <!-- Service-6-->
        <div class="col-md-4 col-sm-6">
          <div class="service1-item wow bounceIn">
            <i class="fa fa-check-square-o fa-3x"></i>
            <h4>Support</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quam nisi, malesuada a leo nec, luctus viverra quam nisi, malesuada a nisi.</p>
          </div>
        </div>

     </div>
   </div>
  </section>
  <!-- End Services-->
{% endblock %}