{% extends 'registration/base.html' %}
{% load staticfiles %}
{% block content %}

  <!--  <div class="details">
    	{% if delivery.Delivery_ID %}
	        <div class="id">
	            {{ delivery.Delivery_ID }}
	        </div>
	    {% endif %}
        <h1>{{ delivery.Delivery_ID }}</a></h1>
        <p>{{ delivery.Delivery_Total|linebreaks }}</p>-->

<!-- TABS
================================================== -->
<div class="padding_30">
  <div class="container">

    <div class="row">
      <div class="compo_tab">
        <div class="">
          <div class="compo_title">
            <h3 class="h3 text-left">Хүргэлт: {{ delivery.Delivery_ID }}</h3>
            <hr>
          </div>

          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#tab-5" data-toggle="tab">Хүргэлтийн явц</a></li>
            <li><a href="#tab-6" data-toggle="tab">Хүргэлтийн мэдээлэл</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab-5">
              <h5 class="text-left">Хүргэлтийн төлөв: <strong>{{ delivery.Status_ID.Status }}</strong></h5>
              <h5 class="text-left">Хүргэгдэх огноо: <strong>{{ delivery.Delivery_Est_Date|date:"Y M d" }}</strong></h5>
            </div>
            <div class="tab-pane fade" id="tab-6">
              <p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros.Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros.</p>
            </div>
          </div>
        </div>

      </div>
    </div>     
  </div>
</div>

<!--End of Tabs-->
{% endblock %}